<!DOCTYPE html>
<html lang="en">
	<head>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<meta http-equiv="x-ua-compatible" content="ie=edge">
	  	<title>WebStation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css3/custfrmt.css') }}" />
        <script src="{{ url_for('static', filename='jscn/jquery.min.js') }}"></script>
	  	<link rel="stylesheet" href="{{ url_for('static', filename='css3/fontsome.css') }}" />
	  	<link rel="stylesheet" href="{{ url_for('static', filename='css3/adminlte.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	</head>

	<body class="hold-transition layout-top-nav layout-navbar-fixed layout-footer-fixed noselect" ondragstart="return false;" ondrop="return false;">

        <div class="wrapper">
		  	<nav class="main-header navbar navbar-expand-md navbar-dark navbar-olive">
				<div class="container">
			  		<a class="navbar-brand">
						<img src="{{ url_for("static", filename="imgs/datalogo.svg") }}" class="brand-image img-circle" style="opacity: .8; filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);">
						<span class="brand-text font-weight-bold headelem">WebStation</span>
			  		</a>
			  		<button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
			  		</button>
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                        <li class="nav-item" onclick="document.location.href = '#'">
                            <a class="nav-link">
                                <i class="fas fa-arrow-left" data-toggle="tooltip" data-placement="bottom" title="Head back to menu"></i>
                            </a>
                        </li>
                        <li class="nav-item" onclick="location.reload()">
                            <a class="nav-link">
                                <i class="fas fa-sync" data-toggle="tooltip" data-placement="bottom" title="Refresh the page"></i>
                            </a>
                        </li>
                        <li class="nav-item" onclick="document.location.href = 'https://www.github.com/astrosonic/'">
                            <a class="nav-link">
                                <i class="fas fa-hands-helping" data-toggle="tooltip" data-placement="bottom" title="Contribute to project"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container">
                        <h1 class="m-0 text-dark headelem">ExynoTaxidia</h1>
                        <h1 class="italelem"><small>AI-powered Public Transport Scheduling System</small></h1>
                        <hr/>
                        <h4 class="m-0 text-dark headelem">Kharadi    To     Pune Station</h4>
                        <hr/>
                        <h4 class="m-0 text-dark headelem">Dynamic schedule</h4>
                        <br/>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12" onclick="GetDynamicSchedule()" data-toggle="modal" data-target="#dyna-sked-mode">
                                <div class="info-box">
                                    <span class="info-box-icon bg-olive"><i class="fas fa-sync"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text normelem">Get bus counts</span>
                                        <span class="info-box-number hugeelem">Per hour duration</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <h4 class="m-0 text-dark headelem">Most-viewed times</h4>
                        <br/>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12" onclick="document.location.href = '#sect-abot-8'">
                                <div class="info-box">
                                    <span class="info-box-icon bg-olive"><i class="fas fa-clock"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text normelem">Morning rush</span>
                                        <span class="info-box-number hugeelem">08:00 HRS</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12" onclick="document.location.href = '#sect-abot-14'">
                                <div class="info-box">
                                    <span class="info-box-icon bg-olive"><i class="fas fa-clock"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text normelem">Afternoon respite</span>
                                        <span class="info-box-number hugeelem">14:00 HRS</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12" onclick="document.location.href = '#sect-abot-20'">
                                <div class="info-box">
                                    <span class="info-box-icon bg-olive"><i class="fas fa-clock"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text normelem">Evening release</span>
                                        <span class="info-box-number hugeelem">20:00 HRS</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12" onclick="document.location.href = '#sect-abot-2'">
                                <div class="info-box">
                                    <span class="info-box-icon bg-olive"><i class="fas fa-clock"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text normelem">Midnight roaming</span>
                                        <span class="info-box-number hugeelem">02:00 HRS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <h4 class="m-0 text-dark headelem">Hourwise schedule</h4>
                        <br/>
                        <div class="row">
                            {% for indx in range(pathdict|length) %}
                            <div class="col-md-3 col-sm-6 col-12" onclick="document.location.href = '#sect-abot-{{ indx }}'">
                                <div class="info-box">
                                    <span class="info-box-icon bg-olive"><i class="fas fa-clock"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text normelem">#{{ pathdict[indx]["pathkeys"] }}</span>
                                        <span class="info-box-number hugeelem">{{ pathdict[indx]["timedata"] }} HRS</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <hr/>
                        <div class="content">
                        {% for indx in range(pathdict|length) %}
                            <div id="sect-abot-{{ indx }}" class="card card-olive">
                                <div class="card-header">
                                    <h5 class="card-title m-0 headelem">{{ pathdict[indx]["timedata"] }}</h5>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h1 class="hugeelem">#{{ pathdict[indx]["pathkeys"] }} [{{ pathdict[indx]["timedata"] }}]</h1>
                                    <h5 class="normelem">There are {{ pathdict[indx]["busquant"] }} bus(es) available at {{ pathdict[indx]["timedata"] }} HRS.</h5>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-12">
                                            <div class="info-box bg-info bg-olive">
                                                <span class="info-box-icon bg-white"><i class="fas fa-traffic-light"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text headelem">Traffic</span>
                                                    <h1 class="info-box-number hugeelem">{{ pathdict[indx]["trafdens"] }}%</h1>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: {{ pathdict[indx]["trafdens"] }}%"></div>
                                                    </div>
                                                    <span class="progress-description italelem">
                                                        Vehicle density
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12">
                                            <div class="info-box bg-info bg-olive">
                                                <span class="info-box-icon bg-white"><i class="fas fa-users"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text headelem">Occupancy</span>
                                                    <h1 class="info-box-number hugeelem">{{ pathdict[indx]["occupanc"] }}%</h1>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: {{ pathdict[indx]["occupanc"] }}%"></div>
                                                    </div>
                                                    <span class="progress-description italelem">
                                                        Travel populace
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12">
                                            <div class="info-box bg-info bg-olive">
                                                <span class="info-box-icon bg-white"><i class="far fa-clock"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text headelem">Delay</span>
                                                    <h1 class="info-box-number hugeelem">{{ pathdict[indx]["delaposs"] }}%</h1>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: {{ pathdict[indx]["delaposs"] }}%"></div>
                                                    </div>
                                                    <span class="progress-description italelem">
                                                        Impending time
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-12">
                                            <div class="info-box bg-info bg-olive">
                                                <span class="info-box-icon bg-white"><i class="fas fa-people-arrows"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text headelem">Distancing</span>
                                                    <h1 class="info-box-number hugeelem">{{ pathdict[indx]["distance"] }}%</h1>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: {{ pathdict[indx]["distance"] }}%"></div>
                                                    </div>
                                                    <span class="progress-description italelem">
                                                        Safety from contact
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <table id="proclist" class="table table-head-fixed text-nowrap table-sm">
                                        <thead>
                                            <tr class="headelem">
                                                <th>ORIGIN</th>
                                                <th>DESTINATION</th>
                                                <th>TIMEDATA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for jndx in range(pathdict[indx]["busquant"]) %}
                                            <tr class="normelem">
                                                <td id="proc-info-srce-{{ indx }}-{{ jndx }}"><code>{{ pathdict[indx]["pathlist"][jndx]["srce"] }}</code></td>
                                                <td id="proc-info-dest-{{ indx }}-{{ jndx }}"><code>{{ pathdict[indx]["pathlist"][jndx]["dest"] }}</code></td>
                                                <td id="proc-info-time-{{ indx }}-{{ jndx }}">{{ pathdict[indx]["timedata"] }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                -->
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="dyna-sked-mode">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-olive">
                        <h4 class="modal-title headelem" id="proc-boxe-name">Hourly Transportation Frequency</h4>
                    </div>
                    <div class="modal-body">
                        <p class="normelem">This estimate is more accurately produced than the static model and is open to any sudden changes there may occur.</p>
                        <table id="dynamode" class="table table-head-fixed text-nowrap table-sm">
                            <thead>
                                <tr class="headelem">
                                    <th>IDENTITY</th>
                                    <th>BUS COUNT</th>
                                    <th>TIMEDATA</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for indx in range(pathdict|length) %}
                                <tr class="normelem">
                                    <td id="dyna-mode-iden-{{ indx }}"><code>0</code></td>
                                    <td id="dyna-mode-bqan-{{ indx }}"><code>0</code></td>
                                    <td id="dyna-mode-time-{{ indx }}"><code>0</code></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer justify-content-between bg-olive">
                        <button type="button" class="btn btn-sm bg-white headelem" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



		<footer class="main-footer bg-olive" style="margin-left:0px;">
            <div class="container">
                <div class="float-right d-none d-sm-inline normelem">
                    Created with <i class="fas fa-heart"></i> by <span class="headelem" onclick="window.location.href = 'https://astrosonic.netlify.app/'" style="color:yellow;">AstroSonic</span>
                </div>
                <span class="headelem">WebStation v06072020</span>
            </div>
		</footer>
		<script src="{{ url_for('static', filename='jscn/bootstrap.bundle.js') }}"></script>
		<script src="{{ url_for('static', filename='jscn/adminlte.js') }}"></script>
        <script type="text/javascript">
            function GetDynamicSchedule() {
                $.ajax({
                    url: "/dynasked/", success: function (result) {
                        console.log(result);
                        for (indx in result) {
                            document.getElementById("dyna-mode-iden-"+indx).innerHTML = "<code>" + result[indx]["idenfier"] + "</code>";
                            document.getElementById("dyna-mode-bqan-"+indx).innerHTML = "<code>" + result[indx]["buscount"] + "</code>";
                            document.getElementById("dyna-mode-time-"+indx).innerHTML = "<code>" + result[indx]["timedata"] + "</code>";
                        }
                    }
                });
            }
        </script>
	</body>
</html>
